.teams-section {
  padding: 5rem 4rem;
  background-color: var(--background-light);
  padding-bottom: 0;
  overflow: hidden;
}

.teams-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 4rem;
  margin-bottom: 0rem;
}

.teams-header h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.teams-header p {
  color: rgb(51, 50, 50);
  line-height: 1.6;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-bottom: 4rem;
}

.team-card {
  background: var(--background-light);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform, opacity;
  backface-visibility: hidden;
}

.team-card:hover {
  transform: translateY(-5px);
}

.team-member-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.team-member-info {
  padding: 1.5rem;
  will-change: transform, opacity;
  backface-visibility: hidden;
}

.team-member-info h3 {
  color: var(--text-primary);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.team-member-info .role {
  color: rgb(51, 50, 50);
  font-weight: 600;
  margin-bottom: 1rem;
}

.team-member-info .bio {
  color: rgb(51, 50, 50);
  line-height: 1.6;
  margin-bottom: 1rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  color: rgb(51, 50, 50);
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: var(--primary-color);
}

.view-all-btn {
  display: block;
  margin: 0 auto 4rem;
  padding: 1rem 2rem;
  background-color: var(--button-primary);
  color: var(--text-light);
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-all-btn:hover {
  background-color: var(--button-primary-hover);
}

.stats-grid {
  gap: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  background-color: var(--background-dark);
  padding: 2rem;
}

.stat-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.stat-card h3 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.stat-card p {
  color: #666;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media (max-width: 768px) {
  .teams-section {
    padding: 3rem 2rem;
  }

  .teams-header h2 {
    font-size: 2rem;
  }

  .team-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 480px) {
  .stats-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}