.services-section {
  padding: 5rem 4rem;
  background-color: var(--background-light);
  padding-bottom: 2rem;
}

.services-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 4rem;
  margin-bottom: 0rem;
  will-change: transform, opacity;
}

.services-header h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.services-header p {
  color: rgb(51, 50, 50);
  line-height: 1.6;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-bottom: 4rem;
}

.service-card {
  background: var(--background-light);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease;
  text-align: center;
  will-change: transform, opacity;
  backface-visibility: hidden;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-icon-wrapper {
  background-color: var(--color-1);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1.5rem;
}

.service-icon {
  font-size: 2rem;
  color: var(--primary-color);
}

.service-card h3 {
  color: rgb(51, 50, 50);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.service-card p {
  color: rgb(51, 50, 50);
  line-height: 1.6;
}

.companies-section {
  text-align: center;
  padding: 2rem 2rem;
  background: var(--background-dark);
  overflow: hidden;
}

.companies-section h3 {
  color: rgb(51, 50, 50);
  font-size: 1.5rem;
}

.companies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  align-items: center;
  justify-items: center;
  margin: 3rem auto 0;
}

.company-logo {
  width: 100%;
  height: 80px;
  filter: grayscale(0%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: opacity, transform;
  backface-visibility: hidden;
  display: block;
  object-fit: contain;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}


@media (max-width: 768px) {
  .services-section {
    padding: 3rem 2rem;
  }

  .services-header h2 {
    font-size: 2rem;
  }

  .companies-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}